<html>
        <meta http-equiv="content-type" content="text/html; charset=UTF8">
        <head><script type = "text/javascript" src = "static/js/view.js">  </script></head>
    <body>
        <div class="lime top_div" id="top_div8LMVY6W2IHG40YN"></div>
        <script type="text/javascript">
        	
			var top_div = d3.select('#top_div8LMVY6W2IHG40YN').classed('lime top_div', true);
        
            var pp_div = top_div.append('div')
                                .classed('lime predict_proba', true);
            var pp_svg = pp_div.append('svg').style('width', '100%');
            var pp = new lime.PredictProba(pp_svg, ["republican", "democrat"], [0.8, 0.2]);
            
        
        var exp_div;
            var exp = new lime.Explanation(["republican", "democrat"]);
        
                exp_div = top_div.append('div').classed('lime explanation', true);
                exp.show([["TaxReform", -0.020770347480948175], ["FoxBusiness", -0.017348559557315277], ["Chairman", -0.016276587467941726], ["FoxNews", -0.014993825621698636], ["RepKevinBrady", -0.00954154749073416], ["https", 0.007872493594009546], ["highlights", -0.004874949990182821], ["benefits", -0.004290721079843876], ["the", 0.001588871746664454], ["and", -0.0015407369063189303]], 1, exp_div);
                
        var raw_div = top_div.append('div');
            exp.show_raw_text([["TaxReform", 81, -0.020770347480948175], ["FoxBusiness", 41, -0.017348559557315277], ["Chairman", 0, -0.016276587467941726], ["FoxNews", 28, -0.014993825621698636], ["RepKevinBrady", 10, -0.00954154749073416], ["https", 111, 0.007872493594009546], ["highlights", 97, -0.004874949990182821], ["benefits", 68, -0.004290721079843876], ["the", 64, 0.001588871746664454], ["and", 36, -0.0015407369063189303]], 1, "Chairman @RepKevinBrady on @FoxNews and @FoxBusiness to discuss the benefits of #TaxReform. Some highlights \u2b07\ufe0f https://t.co/urDcaXeWjF", raw_div, true);

        </script>>
    </body>
</html>
